# see also https://gitignore.io

# Common
data/
dist/
!test/**/data/
testdata/
tmp/
*.local
*.log*

# Node
coverage/
node_modules/

# Python
.venv/
__pycache__/

# Eclipse
.settings/
bin/
.project
.classpath
*.launch

# IntelliJ IDEA
.idea/
out/
*.iml

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
